@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sora";
    src: url(../public/fonts/sora/Sora-Regular.ttf);
  }
  @font-face {
    font-family: "Sora-Bold";
    src: url(../public/fonts/sora/Sora-Bold.ttf);
  }
}

:root {
  --primary: #6affaf;
  --primary2: #5ce3fe;
  --secondary: #f4faff;
  --secondary300: #eae0d5;
  --tertiary: #5ce3fe;
  --background: #101012;
  --background600: #29282b;
  --nimiq-ease: cubic-bezier(0.25, 0, 0, 1);
  --background-land: #1a1528;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Sora";
  background-color: var(--background);
  color: #FFFFFF;
}
